* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: fit-content;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 50px 20px 20px;
    border-radius: 8px;
    text-align: start;
    max-height: 400px;
    height: 100%;
}

img{
    max-width: 200px;
    width: 100%;
    border-radius: 8px;
}